<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= favicon_link_tag asset_path('favicon.png') %>
    <title>Pramod Gobburi - Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= javascript_include_tag "pace.js" %>
    <%= stylesheet_link_tag "pace.css" %>
    <%= stylesheet_link_tag "bootstrap4-growth.min.css" %>
    
  </head>

 

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding-left: 15px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav">
          <a class="pl-md-0 p-3 mr-5 text-light"><%= image_tag("pramod_icon.png", :size => '250x50') %></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <h5><%= link_to "About Me", home_path, class:"pl-md-0 p-4 mr-4 text-light" %></h5>
          <h5><%= link_to "Portfolio", portfolio_path, class:"pl-md-0 p-4 mr-4 text-light" %></h5>
        </div>
      </div>
    </nav>

    <main role="main" style="padding-top: 70px"> 
      <%= yield %>
    </main>
  </body>
  <footer class="text-muted" style="padding-top: 50px;">
      <div class="container">
        <p class="float-right">
          <a href="">Back to top</a>
        </p>
        <p>Download a PDF Resume <%= link_to "here", download_resume_path, data: { turbolinks: false } %></p>

        <p>© 2019 Pramod Gobburi. All rights reserved. </p>
      </div>
    </footer>
</html>
